{% extends 'admin/change_form.html' %}

{% load i18n admin_urls %}

{% block object - tools - items %}
{{ block.super }}
{% endblock %}

{% block content %}
  {{ block.super }}

  <style>
    label[for='id_especialidade'] {
      display: block;
      font-weight: 600; /* Semibold */
      margin-bottom: 0.5rem; /* mb-2 */
      font-size: 0.875rem; /* text-sm */
      color: var(--font-important-light);
    }
    
    @media (prefers-color-scheme: dark) {
      label[for='id_especialidade'] {
        color: var(--font-important-dark);
      }
    }
  </style>
{% endblock %}
